@page "/about"

<body class="content-body">
    <header>
        <h1>Sistema de Reservas de Salas</h1>
        <div class="account-info">
            <a class="about-btn" href="/sala">Home</a>
            <a>Sobre</a>
        </div>
    </header>
        <br/>
    <div class="about-specs">
        <h3>A Equipe</h3>
        <div class="container"> 
            <div class="person">
                <img class="person-img" src="https://avatars.githubusercontent.com/u/125230002?v=4" alt="Person 1">
                <h4 class="person-name">Enio Filipe</h4>
                <a href="https://github.com/eniofilipe22">GitHub</a>
            </div>

            <div class="person">
                <img class="person-img" src="https://avatars.githubusercontent.com/u/76114278?v=4" alt="Person 2">
                <h4 class="person-name">Thiago Evangelista</h4>
                <a href="https://github.com/ThigasSantos">GitHub</a>
            </div>

            <div class="person">
                <img class="person-img" src="https://avatars.githubusercontent.com/u/52759304?v=4" alt="Person 1">
                <h4 class="person-name">Welington Junio</h4>
                <a href="https://github.com/Welington156">GitHub</a>
            </div>
        </div>
    </div>    
    
</body>
